#infoLog{
    visibility: hidden;
    position: relative;
    top: 150px;
    background-color: white;
    border-radius: 15px;
    width: 20%;
    color:green;
    margin: auto;
    padding: 2%;
}

#loader {
    position: absolute;
    visibility: hidden;
    left: 5%;
    top: 50px;
    border: 16px solid #050505; 
    border-top: 16px solid #ffffff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}