/* #constanteCalcul,#gestionEmploye {
    display: inline-block;
    width: 30%;
} */





 img {
    width: 30%;
    cursor: pointer;
}

.center-content{
    position: absolute;
    top: 35%;
    left: 20%;
    right: 20%;
}


.text-p-centerContent{
    color: white;
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 1.2em;
}



#tarif{
    overflow-y: scroll;
    background-color:white;
    border-radius:15px;
    margin:auto;
}

.button-tab{
    width: 100%;
}

.content-appender{
    height: 80%;
}

.general{
    height: 100%;
    padding: 4%;
}

.button-label{
    padding: 5%;
}

.image-button{
    text-align: center;
}

img{
    width: 15%;
    height: auto;
}

#employes p {
    display: block;
}
