/* #constanteCalcul,#gestionEmploye {
    display: inline-block;
    width: 30%;
} */





 img {
    width: 30%;
    cursor: pointer;
}

.center-content{
    position: absolute;
    top: 35%;
    left: 20%;
    right: 20%;
}


.text-p-centerContent{
    color: white;
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 1.2em;
}

#employes{      
}

#tarif{
    width: 30%;
    height: 300px;
    overflow-y: scroll;
    background-color:white;
    border-radius:15px;
    width:30%;
    margin:auto;
    height:300px; 
}

#employes p {
    display: block;
}
