<div class="row justify-content-around">
  <div class="col">
    <h3 style="color:white; text-align:center;">Constantes de calcul</h3>
  </div>
</div>
<div class="row justify-content-around">
  <div class="col-lg-6 col-md-12 col-sm-12  col-xs-10">
    <br>
    <table class="table table-striped table-hover">
      <thead class="thead-light" style="text-align:center;">
        <tr>
          <th scope="col">Coefficient Férié</th>
          <th scope="col">Coefficient Weekend</th>
          <th scope="col">Coefficient Weekend Férié</th>
          <th scope="col">Jour CDP</th>
          <th scope="col">Jour DT</th>
          <th scope="col">Support</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody style="text-align:center; color:white;">
        <tr>
          <td>{{parameters.MultiplicationFE}}</td>
          <td>{{parameters.MultiplicationWE}}</td>
          <td>{{parameters.MultiplicationWEFE}}</td>
          <td>{{parameters.NbJourCDP}}</td>
          <td>{{parameters.NbJourDT}}</td>
          <td>{{parameters.PrixSupport}}</td>
          <td>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-warning" (click)="modifierParam()">M</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<ng-template #modificationParam let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" style="text-align:center;">Modifiez les paramètres</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <form [formGroup]="formParam" class="form-group col-lg-12">
        <div class="col-lg-12 col-sm-12" style="text-align:center;">
          <label>Coefficient Férié
            <br>
            <input required type="number"  min="0" class="form-control" step="0.1" formControlName="CoefficientF" value="{{parameters.MultiplicationFE}}" aria-describedby="basic-addon1">
          </label>
        </div>

        <div class="col-lg-12 col-sm-12" style="text-align:center;">
          <label>Coefficient weekend
            <br>
            <input required type="number" min="0" step="0.1" class="form-control" formControlName="CoefficientW" value="{{parameters.MultiplicationWE}}" aria-label="mail" aria-describedby="basic-addon1">
          </label>
        </div>

        <div class="col-lg-12 col-sm-12" style="text-align:center;">
          <label>coefficient weekend férié
            <br>
            <input required type="number" min="0" step="0.1" class="form-control" formControlName="CoefficientWF" value="{{parameters.MultiplicationWEFE}}" aria-label="Username"
              aria-describedby="basic-addon1">
          </label>

        </div>
        <div class="col-lg-12 col-sm-12" style="text-align:center;">
          <label>Jour CDP
            <br>
            <input required type="number" min="0" step="1" class="form-control" value="{{parameters.NbJourCDP}}" formControlName="JourCDP" aria-label="Username" aria-describedby="basic-addon1">
          </label>
        </div>
        <div class="col-lg-12 col-sm-12" style="text-align:center;">
          <label>Jour DT
            <br>
            <input required type="number" min="0" step="1" class="form-control" value="{{parameters.NbJourDT}}" formControlName="JourDT" aria-label="Username" aria-describedby="basic-addon1">
          </label>
        </div>
        <div class="col-lg-12 col-sm-12" style="text-align:center;">
          <label>Support
            <br>
            <input required type="number" class="form-control" value="{{parameters.PrixSupport}}" formControlName="Support" aria-label="Username" aria-describedby="basic-addon1">
          </label>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="validerTarification()">Sauvegarder</button>
  </div>
</ng-template>