<div class="row justify-content-center" style="height: 100%;width: 100%;margin: auto; padding:50px;">
  <div class="row justify-content-around" style=" width:100%; height: 20%; padding:5px;">
    <div class="col-2" [style.visibility]="spinner" style="padding:15px;">
      <div class="spinner-1"></div>
    </div>
    <div class="col-9 align-self-center" style="text-align:center;">
      <!-- <button type="button" class="btn btn-primary">Générer un fichier</button> -->
      <div class="row justify-content-around" style="padding:60px;">
        <div class="col-4">
          <button type="button" class="btn btn-primary" (click)="lauchProcess('devis')">Devis</button>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-primary" (click)="lauchProcess('facture')">Facture</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center align-items-start" id="fileGenerator" style="width:100%; height: 80%; padding:5px;">
    <!-- <div class="row">
      <div class="col align-self-center">
        <select class="custom-select" id="selectEpics">
          <option *ngFor="let epic of epics" value="1">{{epic}}</option>
        </select>
      </div>
    </div> -->

    <div class="col-2 align-self-center" id="DTCDP" style="display: none;">
      <label for="cdp" class="lab">Jour de Chef de projet</label>
      <br>
      <input type="number" class="form-control" id="cdp" value=0>
      <br>
      <label for="dt" class="lab"> Jour de Directeur technique</label>
      <br>
      <input type="number" class="form-control" id="dt" value=0>
      <br>
      <button class="btn btn-primary" style="text-align:center;" id="sendObject">Send</button>
    </div>

  </div>
</div>





<!-- <div id="fic" class="row justify-content-center" (click)="displayOptions()">
    <div class="row">
        <div class="loader"></div>
      </div>
    
  <span>Générer un fichier</span>
</div>
<section id="fileGenerator" class="row">
  <div id="devis" class="col-6" (click)="lauchProcess('devis')">
    <span>Devis</span>
  </div>

  <div id="facture" class="col-6" (click)="lauchProcess('facture')">
    <span>Facture</span>
  </div>


</section>
 -->

<ng-template #treatmentStories let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Des Stories sans Epics on été detecté</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngFor="let st of storiesSansEpics">
    <a href="{{st.url}}" target="_blank">{{st.url}}</a>
    <br>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Continuer</button>
  </div>
</ng-template>


<ng-template #templateRessourceModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Des ressouces inconnu on été detecté</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Vous pouvez ajouter la ou les ressources manquante ou fermer le processus</p>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary" (click)="c('close'); setModalAjoutRessource()">Ajouter la/les ressource(s)</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Fermer le processus</button>
  </div>
</ng-template>


<ng-template #ajoutRessources let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" style="text-align:center;">Initial : {{currentRessource}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <form [formGroup]="ressourceForm" class="form-group col-lg-12">
        <div class="col-lg-12 col-sm-12" style="text-align:center;">
          <label>Nom,Prénom
            <br>
            <input required type="text" class="form-control" formControlName="name" placeholder="Nom Prénom" aria-label="Username" aria-describedby="basic-addon1">
          </label>
        </div>

        <div class="col-lg-12 col-sm-12" style="text-align:center;">
          <label>Mail
            <br>
            <input required type="mail" class="form-control" formControlName="email" placeholder="mail" aria-label="Username" aria-describedby="basic-addon1">
          </label>
        </div>

        <div class="col-lg-12 col-sm-12" style="text-align:center;">
          <label>Initial
            <br>
            <input required type="text" class="form-control" formControlName="initial" placeholder={{currentRessource}} aria-label="Username"
              aria-describedby="basic-addon1">
          </label>

        </div>
        <div class="col-lg-12 col-sm-12" style="text-align:center;">
          <label>Niveau
            <br>
            <input required type="number" step="2" min="3" max="5" class="form-control" formControlName="niveau" placeholder=3 aria-label="Username"
              aria-describedby="basic-addon1">
          </label>
        </div>
        <div class="col-lg-12 col-sm-12" style="text-align:center;">
          <label>Tarifications
            <br>
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownConfig" ngbDropdownToggle>Choix du/des Tarification(s)</button>
              <div ngbDropdownMenu aria-labelledby="dropdownConfig">
                <div class="col" required formArrayName="tarificationForm" *ngFor="let tarif of tarifications; let i= index">
                  <label>&nbsp;
                    <input type="checkbox" [value]="tarif" [formControlName]="i" /> &nbsp; {{ tarif.Type }}
                  </label>
                </div>
              </div>
            </div>
          </label>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="validerRessource()">Ajouter la ressource</button>
    <p class="cptRessource">{{nbRessourceAAjouter}}</p>
  </div>
</ng-template>